/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.game-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-section h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #2ecc71;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.game h3 {
    margin-top: 0;
}

.play-button {
    display: inline-block;
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.play-button:hover {
    background-color: #27ae60;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* Estilos para el botón de retorno */
.back-button {
    text-align: center;
    margin-top: 30px;
}

.back-link {
    display: inline-block;
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #27ae60;
}
